body {
	background-image: url('../images/background.png');
}

.content-box {
	background-color: #FFF;
	border-top: 1px solid #444;
	border-bottom: 1px solid #444;
	padding: 10px;
}

nav {
	background-color: #444;
	color: #fff;
	padding: 5px;
}

nav a {
	color: inherit;
}

.product {
	display: block;
}