/****************************************
  Components
*****************************************/

/**
 * Product List
 */

.product-preview.list {
	background-color: red;
	overflow: hidden;
	margin: 10px 0;
}

.product-preview.list img {
	width: 80px;
	height: 80px;
	float: left;
}

.product-preview.list .content {
	background-color: yellow;
	margin-left: 80px;
	padding-left: 5px;
}

.product-preview.list h3 {
	margin: 0;
}


/**
 * Product Tiles
 */

.product-preview.tiles {
	background-color: red;
	display: inline-block;
	margin-top: 10px;
	margin-right: 10px;
	width: 160px;
	vertical-align: top;
}

.product-preview.tiles img {
	width: 160px;
	height: 160px;
	display: block;
}

.product-preview.tiles .content {
	background-color: yellow;
}

.product-preview.tiles h3 {
	margin: 0;
	border-bottom: 1px solid black;
}

/**
 * Breakouts
 */

.breakouts {
	background-color: green;
	text-align: center;
}

.breakouts .breakout {
	background-color: lime;
	display: inline-block;
	width: 300px;
	min-height: 120px;
	margin: 0 5px;
	transform: translateY(-20px);
}


/****************************************
  Hero
*****************************************/

.hero {
	background-color: #11AABA;
}

.hero > div {
	background-color: rgba(255,255,255,0.5);
	margin: 0 auto;
	width: 960px;
	height: 450px;
	position: relative;
	color: #FFF;
}


/**
 * Primary Header
 */

.primary-header {
	position: relative;
	background-color: orange;
	height: 150px;
}

.primary-header a {
	color: #FFF;
}

.primary-header .logo {
	background-color: red;
	display: block;
	position: absolute;
	left: 5px;
	top: 5px;
}

.primary-header form.search {
	background-color: blue;
	position: absolute;
	right: 0;
	top: 15px;
}

.primary-header nav {
	background-color: green;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}

.primary-header nav a {
	display: inline-block;
	text-decoration: none;
	padding: 15px 20px;
	text-transform: uppercase;
}

/**
 * Intro
 */

.hero .intro {
	background-color: magenta;
	position: absolute;
	bottom: 30px;
	width: 100%;
	text-align: center;
}

.hero .intro h1 {
	font-size: 30pt;
	font-weight: 100;
	margin: 0;
}


/**
 * Primary Content
 */

.primary-content {
	background-color: purple;
	margin-bottom: 20px;
}

.primary-content > div {
	margin: 0 auto;
	width: 960px;
	min-height: 350px;
	background-color: pink;
	position: relative;
}

main {
	padding-bottom: 10px;
}

main > div:first-child {
	background-color: lime;
	float: left;
	width: 400px;
	padding: 1px 10px;
	min-height: 400px;
}

main > div:last-child {
	background-color: blue;
	margin-left: 400px;
	min-height: 400px;
	padding: 1px 10px;
}
