<div class="tweet" id="tweet-{{id}}">
  {{#user}}
  <img src="images/{{img}}">
  <div class="body">
    <div class="title">{{handle}}</div>
  {{/user}}
    <div class="message">{{message}}</div>
  </div>
</div>
