<article class="tweet" id="tweet-{{id}}">
  {{#user}}
  <aside>
    <img src="{{img}}">
  </aside>
  <section class="body">
    <div class="title">{{handle}}</div>
  {{/user}}
    <div class="message">{{message}}</div>
  </section>
</article>
